<a href="https://colab.research.google.com/github/Z1LF/nlp100-2020/blob/main/%E8%A8%80%E8%AA%9E%E5%87%A6%E7%90%86100%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF2020%5Bnlp2020%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 言語処理100本ノック 2020

- 問題リンク[ https://nlp100.github.io/ja/ ]
- GitHub [ https://github.com/nlp100/nlp100.github.io ]
- 参考リンク
  - 文字列処理に関する情報 | note.nkmk.me [ https://note.nkmk.me/string/ ] 
    >Pythonやるときはこのサイトにお世話にならないと何もできないので…

- 解答例
  - 【言語処理100本ノック 2020】Pythonによる解答例まとめ by @yanmaru
    - Qiita [ https://qiita.com/yamaru/items/0cac24710626333bd693 ]
    > 解答例とはいえいきなり解答が書いてあって、その後に参考リンクが記されている
      自分で悩んで解いた後に参考程度に見るのが良さそう
      
  - 「言語処理100本ノック 2020」をPythonで解く by u++(upura)
    - はてなブログ [ https://upura.hatenablog.com/entry/2020/04/14/024948 ]
    - GitHub [ https://github.com/upura/nlp100v2020 ]
    > ブログの方では解説や参考記事も載っているので見やすい。

  - Python-機械学習-自然言語処理-言語処理100本ノック 2020
    - ブログ [ https://www.takapy.work/archive/category/Python-%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92-%E8%87%AA%E7%84%B6%E8%A8%80%E8%AA%9E%E5%87%A6%E7%90%86-%E8%A8%80%E8%AA%9E%E5%87%A6%E7%90%86100%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF%202020 ]
    > 個人ブログ。解説とかはなく単純に動くコードが乗っている備忘録的なもの。

  - Pythonで自然言語処理100本ノック 2020を解いたついでに死ぬほど詳しく解説を書いていく[第1章 準備運動] by @python_kenichi
    - Qiita [ https://qiita.com/python_kenichi/items/b1fcecc4274511e4c26e ]
    > 第1章のみだが丁寧に考え方や必要な知識を解説してくれている。続きがないのが惜しまれる。

## 第1章: 準備運動


### 00. 文字列の逆順
文字列"stressed"の文字を逆に（末尾から先頭に向かって）並べた文字列を得よ．

In [ ]:
str = "stressed"
ans = str[::-1]
print(ans)

desserts

### 01. 「パタトクカシーー」
「パタトクカシーー」という文字列の1,3,5,7文字目を取り出して連結した文字列を得よ．

In [ ]:
str="パタトクカシーー"
print(str[::2])

パトカー

### 02. 「パトカー」＋「タクシー」＝「パタトクカシーー」
「パトカー」＋「タクシー」の文字を先頭から交互に連結して文字列「パタトクカシーー」を得よ．

In [ ]:
str1 = "パトカー"
str2 = "タクシー"
ans = "".join([(str1[i]+str2[i]) for i in range(4)])

print(ans)

パタトクカシーー

### 03. 円周率
"Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."という文を単語に分解し，各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ．

- `str.split("X")` = 文字Xを基準に分割を行う
  - デフォの引数はスペースなので別にスペース入れる必要はなかったかも
- `str.strip("X")` = 文字列の先頭・末尾にある文字Xを除去する

> 最初普通にsplitだけで「できたやん！」と思ったけど出力されたリストが
  [3,1,4,1,6...]←！？となっていてカンマの存在に気づくなど

In [ ]:
str = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
sep_str = str.split()
[len(s.strip(",. ")) for s in sep_str]

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

### 04. 元素記号
"Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."という文を単語に分解し，1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字，それ以外の単語は先頭の2文字を取り出し，取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型もしくはマップ型）を作成せよ．

- `str.strip`を使わなくても`str.replace`で良かった…てかコッチのほうが汎用性高いし…
- len(str)=intはイテラブルなオブジェクトではないのでちゃんとrange()する。
- `値1 if [条件式1] else 値2 if [条件式2] else 値3`
  - というふうにするとPythonで三項演算子が実装できる。
  - 条件式1がTrueのときは値1…という感じ。
- 辞書は`{}`を使って定義。
  - `Dict[Key]=Value`で辞書DictのKeyの項目に値Valueを追加する

> Pythonでも三項演算子のようなものが使えるらしい。リスト内包表記といい、後置といい、ifの置き方が自由すぎる

> 連想配列、どの言語でも表記が思い出せなくてうまく使えないがち。

#### enumerate
`enumerate(Object)`とすると`[インデックス番号,要素]`が戻ってくる
- コレを使うと簡単に書ける(追記コードブロック)

In [ ]:
str = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
numList = [1, 5, 6, 7, 8, 9, 15, 16, 19]
str = str.replace((","or"."),"").split(" ")
ans = {}

for i in range(len(str)):
  str_head = str[i][0] if (i+1 in numList) else str[i][0:2]
  #print(str_head)
  ans[str_head] = i

ans

{'Al': 12,
 'Ar': 17,
 'B': 4,
 'Be': 3,
 'C': 5,
 'Ca': 19,
 'Cl': 16,
 'F': 8,
 'H': 0,
 'He': 1,
 'K': 18,
 'Li': 2,
 'Mi': 11,
 'N': 6,
 'Na': 10,
 'Ne': 9,
 'O': 7,
 'P': 14,
 'S': 15,
 'Si': 13}

In [ ]:
raw_str = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
numList = [1, 5, 6, 7, 8, 9, 15, 16, 19]
str = raw_str.replace((","or"."),"").split(" ")
ans = []

for i, word in enumerate(str):
  str_head = word[0] if (i+1 in numList) else word[:2] 
  ans.append([str_head,i])

dict(ans)

{'Al': 12,
 'Ar': 17,
 'B': 4,
 'Be': 3,
 'C': 5,
 'Ca': 19,
 'Cl': 16,
 'F': 8,
 'H': 0,
 'He': 1,
 'K': 18,
 'Li': 2,
 'Mi': 11,
 'N': 6,
 'Na': 10,
 'Ne': 9,
 'O': 7,
 'P': 14,
 'S': 15,
 'Si': 13}

### 05. n-gram
与えられたシーケンス（文字列やリストなど）からn-gramを作る関数を作成せよ．この関数を用い，"I am an NLPer"という文から単語bi-gram，文字bi-gramを得よ．

> まず「n-gram」ってなんやねん！！！
  参考 → N-gramの作り方 @kazmaw | Qiita [https://qiita.com/kazmaw/items/4df328cba6429ec210fb]
  n-gramは文字列などにおける連続したn個のまとまりでグループ化したもの

- n個連続で拾う際にカウントは「最後の文字が含まれるまで」なので範囲は`len(X)-n+1`となることに注意
- for文で一旦書いてから(できそうなら)内包表記に変換するとやりやすいかも(主観)

> n-gramがわかれば大したことはしていない

In [ ]:
def N_gram(n,X): # オブジェクトXのn-gramを返す関数
  ## nがオブジェクト全体の長さよりも大きい場合はとりあえず全部返すようにしようか…わかんないけど…
  if len(X) < n:
    return [X]

  """
  # for文による表記
  ret=[]
  for i in range(len(X)-n+1):
    ret.append(X[i:i+n])
  """
  ret = [X[i:i+n] for i in range(len(X)-n+1)]
  
  return ret

raw_text = "I am an NLPer"
words = raw_text.split(" ")

print("--- 文字 n-gram ---")
print(N_gram(1,raw_text))
print(N_gram(2,raw_text))
print(N_gram(3,raw_text))


print("--- 単語 n-gram ---")
print(N_gram(1,words))
print(N_gram(2,words))
print(N_gram(3,words))

--- 文字 n-gram ---
['I', ' ', 'a', 'm', ' ', 'a', 'n', ' ', 'N', 'L', 'P', 'e', 'r']
['I ', ' a', 'am', 'm ', ' a', 'an', 'n ', ' N', 'NL', 'LP', 'Pe', 'er']
['I a', ' am', 'am ', 'm a', ' an', 'an ', 'n N', ' NL', 'NLP', 'LPe', 'Per']
--- 単語 n-gram ---
[['I'], ['am'], ['an'], ['NLPer']]
[['I', 'am'], ['am', 'an'], ['an', 'NLPer']]
[['I', 'am', 'an'], ['am', 'an', 'NLPer']]


### 06. 集合
"paraparaparadise"と"paragraph"に含まれる文字bi-gramの集合を，それぞれ, XとYとして求め，XとYの和集合，積集合，差集合を求めよ．さらに，'se'というbi-gramがXおよびYに含まれるかどうかを調べよ．

- `set`型オブジェクト [ https://note.nkmk.me/python-set/ ]
  - set型は重複しない要素の集合オブジェクト。
  - 定義の際は`{}`で生成できる
    - 空のsetを作りたいときは単に`s={}`とするとdict型になってしまうので、`s=set()`と明示的にコンストラクタを呼んで定義する必要がある
  - 内部には異なる型のオブジェクトを(変更不能なイミュータブルな型であれば)含むことが出来る。
    - 変数やlistのような更新可能な(ミュータブルな)オブジェクトは不可能
  - set()を利用してリストやタプルから重複要素を取り除けるが、順序は保持されない。

  - 関数など
    - `set_A | set_B` または `set_A.union(set_B)` でAとBの **和集合** を得られる
    - `set_A & set_B` または `set_A.intersection(set_B)` でAとBの **積集合** を得られる
    - `set_A - set_B` または `set_A.difference(set_B)` でAとBの **差集合** を得られる (AがBより大きい場合)
    - `set_A ^ set_B` または `set_A.symmetric_difference(set_B)` でAとBの **対称差集合** を得られる (XOR=どちらか片方にのみ含まれる要素の集合)
    - `set_A.isdisjoint(set_B)` でAとBが **互いに素かどうか** を判定できる

- print内で使えるformat関数
  - `print("hoge : {0}, fuga : {1}".format(ans1, ans2)` みたいに書くと勝手にansが代入できる。
  - 文字列と変数を同時にprintしたいときに便利
  - 毎回使おうとするけど表記が思い出せないやつ……。

- ｆ文字列 [Python v3.6以降]
  - `f"hoge : {ans1}, fuga : {ans2}"`で上記のformat記法と同じ結果が出せるやつ。
  - 書き方としてはコッチのほうがかなりわかりやすい

In [ ]:
def N_gram(n,X): # オブジェクトXのn-gramを返す関数
  if len(X) < n:
    return [X]

  ret = [X[i:i+n] for i in range(len(X)-n+1)]
  return ret

text1 = "paraparaparadise"
text2 = "paragraph"

# 文字 bi-gram の集合
X = N_gram(2,text1)
setX = set(X)
Y = N_gram(2,text2)
setY = set(Y)


print("X | Y : {0}".format(setX | setY))

print("X & Y : {0}".format(setX & setY))

print("X - Y : {0}".format(setX - setY))


print('"se" in X : {0}'.format("se" in setX))

print('"se" in Y : {0}'.format("se" in setY))

X | Y : {'ra', 'ap', 'ag', 'is', 'gr', 'se', 'ph', 'ad', 'di', 'pa', 'ar'}
X & Y : {'ra', 'ap', 'pa', 'ar'}
X - Y : {'di', 'se', 'ad', 'is'}
"se" in X : True
"se" in Y : False


### 07. テンプレートによる文生成
引数x, y, zを受け取り「x時のyはz」という文字列を返す関数を実装せよ．さらに，x=12, y="気温", z=22.4として，実行結果を確認せよ．

> 偶然前の問題でformat関数を解説してしまったので一瞬で解けて終わった…

In [ ]:
def templete(x,y,z):
  return "{0}時の{1}は{2}".format(x,y,z)

print(templete(12,"気温",22.4))

12時の気温は22.4


### 08. 暗号文
与えられた文字列の各文字を，以下の仕様で変換する関数cipherを実装せよ．

* 英小文字ならば(219 - 文字コード)の文字に置換
* その他の文字はそのまま出力

この関数を用い，英語のメッセージを暗号化・復号化せよ．

#### 大文字/小文字の判定
- `str.islower()`文字列strが全て小文字のときにTrueを返す
  - 全角文字であっても大文字小文字の区別があれば判定される
  - 全て数字や日本語の様に大文字と小文字の区別がない文字種の時はfalse

- 同様に`str.isupper()`は文字列strが全て大文字のときにTrueを返す
- `str.istitle()`は文字列strが最初の文字だけ大文字、他はすべて小文字のときにTrueを返す

#### 文字コードの変換
- `ord('文字') = asciiコード`
- `chr(数値) = 文字`


> どっちの作業も無知だたので…、

In [ ]:
def cipher(text):
  ans = ""
  for c in text:
    ans += chr(219-ord(c)) if(c.islower()) else c
  return ans

message = "This Text is 2022年 Marchに 作られた 暗号です !!"
print(cipher(message))
## out > Tsrh Tvcg rh 2022年 Mzixsに 作られた 暗号です !!

## 219-ord(c)で暗号化したものは、219-(219-ord(c))=ord(c)なので同じ関数で複合可能
encrypted_message = "Tsrh Tvcg rh 2022年 Mzixsに 作られた 暗号です !!"
print(cipher(encrypted_message))

Tsrh Tvcg rh 2022年 Mzixsに 作られた 暗号です !!
This Text is 2022年 Marchに 作られた 暗号です !!


### 09. Typoglycemia
スペースで区切られた単語列に対して，各単語の先頭と末尾の文字は残し，それ以外の文字の順序をランダムに並び替えるプログラムを作成せよ．ただし，長さが４以下の単語は並び替えないこととする．適当な英語の文（例えば"I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."）を与え，その実行結果を確認せよ．

#### ランダムな並び替え [ https://note.nkmk.me/python-random-shuffle/ ]
- `import random`でrandomモジュールを使用可能
- `random.shuffle(list)`で元のリストをシャッフルする。
- `random.sample(list)`で元のリストは変更せず、シャッフルされた新たなリストを作成する。
  - 文字列やタプルは **変更不能(イミュータブル)な** オブジェクトなので`shuffle`を使うとエラーになる！注意
  - 適用するときは`sample`の方を使おう
- listしかシャッフルできないのでstrもリストの形式にネスト[list]する必要がある。

- 文字列の結合は`"<Space>".join(list)`ですね……(第2問)

In [ ]:
import random

def Typoglycemia(str):
  if len(str)<=4:
    return str
  else:
    shuffle = random.sample(str[1:-1], len(str[1:-1]))
    return "".join([str[0]] + shuffle + [str[-1]])

text = "I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."
ans = [Typoglycemia(words) for words in text.split(" ")]
ans = " ".join(ans)

print(ans)

I clu'odnt beielve that I could actaluly uedtanrsnd what I was rnieadg : the peohnamnel peowr of the haumn mind .

## 第2章: UNIXコマンド

popular-names.txtは，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

#### Linuxコマンドの使用
Google Colaboratory上ではコマンド部に`!`をPrefixとしてLinuxコマンドが使用できる

#### データのダウンロード
Google Colaboratory上で指定データを使用するにはwgetコマンドを使用する
> `!wget https://nlp100.github.io/data/popular-names.txt`
<br>これを実行するとカレントディレクトリに対象のテキストファイルを置くことが出来る

In [4]:
!wget https://nlp100.github.io/data/popular-names.txt

--2022-03-15 00:00:32--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt.1’

popular-names.txt.1 100%[===================>]  53.74K  --.-KB/s    in 0.01s

2022-03-15 00:00:32 (5.11 MB/s) - ‘popular-names.txt.1’ saved [55026/55026]

In [7]:
!ls

popular-names.txt  sample_data

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

#### データの読み込み
- pandasを利用 [ https://note.nkmk.me/python-pandas-read-csv-tsv/ ]
  ##### 読み込み時メモ
  - `pd.read_csv`は区切り文字が`,`で固定されているだけで`pd.read_table`と根本的に同じ。
    > `pd.read_csv(hoge)` == `pd.read_table(hoge, sep=",")`
  - read時に`names`オプションでカラム名を名付ける

#### 確認
- Linuxの`wc`コマンドは`$wc <filename>`で使用する
  - 順に[行数, 単語数(空白で区切られた文字列の数), ファイル容量(byte)]で結果が表示される

> Google Colaboratoryでローカルなデータ扱うの不利じゃない！？と思ったけど普通にできるんだ。<br>
  Linuxのコマンドも普通に使えるっぽいですね

In [ ]:
# データがディレクトリに存在するか確認
!ls

import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

print(df)

print(f"行数 : {len(df)}\n")

!wc popular-names.txt

col1.txt  col2.txt  popular-names.txt  sample_data
           Name Sex  Population  Year
0          Mary   F        7065  1880
1          Anna   F        2604  1880
2          Emma   F        2003  1880
3     Elizabeth   F        1939  1880
4        Minnie   F        1746  1880
...         ...  ..         ...   ...
2775   Benjamin   M       13381  2018
2776     Elijah   M       12886  2018
2777      Lucas   M       12585  2018
2778      Mason   M       12435  2018
2779      Logan   M       12352  2018

[2780 rows x 4 columns]
行数 : 2780

 2780 11120 55026 popular-names.txt

### 11. タブをスペースに置換Permalink
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

#### ~~「確認」~~→置換に使用するコマンド
- sedコマンド : *__S__tream __ED__itor* `sed [option] <filename>`
  - sedは指定したファイルをコマンドに従って処理し、標準出力へと出力する。のでパイプとして使うのが一般的。
  - オプション`-e`で処理内容を設定(省略時はオプション以外の第一引数が処理内容)
    - `$ cat ... | sed -e ... -e ...`のように連続した処理も可能
  - `-s` : 正規表現を使った置換を行う。
- trコマンド : _**TR**anslate/**TR**ansliterate_ `tr [置換前の文字セット] [置換後の文字セット] <in_filename> <out>`
  - `$ tr 012 abc`とすると [0→a,1→b,2→c] という置換が行われる。
    - 1対1対応なので常に長さを揃える必要がある
  -
- expandコマンド `expand [option] <filename>`
  - タブを空白に置き換えるコマンド
    - `-t`オプションでタブを幾つの空白文字に置き換えるか設定する。デフォルトは8個分。
  - 逆に、unexpandコマンド `unexpand [option] <filename>`は空白をタブに置換する


#### 本当に確認用のコマンド
- `head <filename>`
  - 指定したファイルを頭から表示する。デフォルトでは先頭10行が表示される。
  - `-c`で文字数、`-n`で行数を指定する

> なぜかsedだけTabの幅がSpaceでも残ってしまった…どうすれば消えてくれるんだ…まあべつにええか…

In [ ]:
!sed -e "s/<tab>/ /g" popular-names.txt | head -v -n 5
!cat popular-names.txt | tr "\t" " "  | head -v -n 5
!expand popular-names.txt -t 1 | head -v -n 5

==> standard input <==
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
==> standard input <==
Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
==> standard input <==
Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存Permalink
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

- cutコマンド : `cut [option] <filename>`
  - ファイルを読み込んで、それぞれの行から指定した部分だけを切り出すコマンド。
  - 切り出す部分の指定は`-[範囲指定オプション] <数字>`で指定する
    - `-b`でバイト単位、`-c`で文字数単位、`-f`でフィールド(区切り文字毎)
    > `cut -f 1,7 --delim=":" hoge.txt` -> hoge.txtの":"で区切られた部分の1番目と7番目の列を拾ってくる。
  - `-d`,`--delimiter` オプションでどの文字を区切りとするか指定できる。デフォルトではタブが区切り文字になっている。

#### pandasを使用する場合
pandasではデフォルトで列切り出しが可能
- `df[n]`でn列目を拾ってこれる
  - カラム名を指定していたらその文字列で指定する必要がある
- `df.to_csv(<filename>, index=False)`とかやれば書き出しができる
  - 行番号を消すオプションは`index=False`

In [ ]:
!cut -f 1 popular-names.txt | head -n 5
!cut -f 1 popular-names.txt > col1.txt
!cut -f 2 popular-names.txt | head -n 5
!cut -f 2 popular-names.txt > col2.txt

### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

print(df["Name"][:5])
print(df["Sex"][:5])

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F
0         Mary
1         Anna
2         Emma
3    Elizabeth
4       Minnie
Name: Name, dtype: object
0    F
1    F
2    F
3    F
4    F
Name: Sex, dtype: object

### 13. col1.txtとcol2.txtをマージPermalink
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

- Pasteコマンド : `$ paste <file_1> <file_2>`
  - 複数のファイルを行で連結するコマンド。
  - `-d`オプションを使うと連結時の区切り文字を変更できる。デフォルトではタブ。

#### pandasを使用する場合
特定の行・列を抽出する場合はlocが結局無難
- `df.loc[行 , 列]` : 指定した行と列を拾ってくる。
  - 行・列は複数のlist表記も可能。
- `df.iloc[行 , 列]` : 「数字で」指定した行と列を拾ってくる。
  - locの指定がindex名やcolumn名なのに対してこちらは番号で指定できる

In [ ]:
!paste col1.txt col2.txt | head -n 5

### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

print( df.iloc[0:5,0:2] )

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
        Name Sex
0       Mary   F
1       Anna   F
2       Emma   F
3  Elizabeth   F
4     Minnie   F

### 14. 先頭からN行を出力Permalink
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

#### headコマンド
ファイルの上からn行を表示する。
> もう今まで確認で散々使っとるやんけ……………！！！！


#### Pythonでコマンドライン引数を受け取る
`import sys`モジュール内の`argv`を使用する。
- `args = sys.argv`で呼び出し時にコマンドラインによって与えた引数がargsに格納される
- `args[0]`は実行ファイル名(`hoge.py`)になる

In [15]:
!head popular-names.txt -n 5


### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

def ShowHead(df,n):
  print(df.head(n))

import sys
args = sys.argv

ShowHead(df,args[1]) if len(args)==2 else print("引数エラー")
## 一応引数受け取れるようにしたけど、Google Colaboratoryでは一旦マウントしないとだめらしいので放置します。

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
引数エラー

### 15. 末尾のN行を出力Permalink
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

> 末尾を参照するTailになっただけでやることは1個前と完全に同じ。

In [17]:
!tail popular-names.txt -n 5


### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

def ShowTail(df,n):
  print(df.tail(n))

import sys
args = sys.argv
ShowTail(df, 3)
ShowTail(df,args[1]) if len(args)==2 else print("引数エラー")
## 一応引数受け取れるようにしたけど、Google Colaboratoryでは一旦マウントしないとだめらしいので放置します。

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018
       Name Sex  Population  Year
2777  Lucas   M       12585  2018
2778  Mason   M       12435  2018
2779  Logan   M       12352  2018
引数エラー

### 16. ファイルをN分割するPermalink
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

#### splitコマンド
`!split -n 5 popular-names.txt`みたいな感じにすれば分割できるけど、分割したらファイルが勝手に出力されるので面倒なことになってしまう。Pandasだけでええか…


> これもやってることは「分割の計算」→「切り出し」なので、表示さえできればやるだけ

In [42]:
!split -n 5 popular-names.txt | head -n 5

### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

def ShowHeadAndTail(df,n=2): ## 全部表示すると流石に面倒なので上下のn行だけ表示するようにして確認
  print(df.head(n))
  print(" ……… ")
  print(df.tail(n))

def Separate(df,n):
  size = int(len(df)/n) # 先に区切りの数を決めておくとキャスティングが統一されてラク

  for i in range(n):
    ShowHeadAndTail(df[i*size:(i+1)*size], 2)
    print("----- -----")

import sys
args = sys.argv
args[1] = 5 if len(args)>=2 else args[1]
Separate(df,args[1]) if len(args)>=2 else print("引数エラー")
## 一応引数受け取れるようにしたけど、Google Colaboratoryでは一旦マウントしないとだめらしいので放置します。

'\nimport pandas as pd\ndf = pd.read_table(           "popular-names.txt",           sep="\t",           header=None,           names=["Name", "Sex", "Population", "Year"] )\n\ndef ShowHeadAndTail(df,n=2): ## 全部表示すると流石に面倒なので上下のn行だけ表示するようにして確認\n  print(df.head(n))\n  print(" ……… ")\n  print(df.tail(n))\n\ndef Separate(df,n):\n  size = int(len(df)/n) # 先に区切りの数を決めておくとキャスティングが統一されてラク\n\n  for i in range(n):\n    ShowHeadAndTail(df[i*size:(i+1)*size], 2)\n    print("----- -----")\n\nimport sys\nargs = sys.argv\nargs[1] = 5 if len(args)>=2 else args[1]\nSeparate(df,args[1]) if len(args)>=2 else print("引数エラー")\n## 一応引数受け取れるようにしたけど、Google Colaboratoryでは一旦マウントしないとだめらしいので放置します。\n'

### 17. １列目の文字列の異なりPermalink
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

#### uniq コマンド
重複している行を取り除くコマンド。 [ https://atmarkit.itmedia.co.jp/ait/articles/1611/14/news021.html ]
- ただし、**uniqコマンドは隣り合った行しか比較しない**ので、先にsortコマンドを使って並べ替えるのが一般的らしい

ちなみに、sortコマンドに`-u`という重複行を取り除くオプションがあるらしいのであんまり意味ないな…


#### Pythonを使用した解答
> 先の問題で「set」を使用した重複の排除があったので思わずそっちを使ったが、Pandasくんに便利な機能がある

- `df.duplicated()` : 重複した行を抽出する
  - 戻り値は重複した行がTrueとなるBool値の行。デフォルトでは全ての列要素が一致したときに同じ行とみなされる。
  - 引数`subset`を指定することで同じ要素であるときに重複と判定するカラムを指定できる
    - `df.duplicated(subset="Name")`みたいな感じ
- `df.drop_duplicates()` : 重複した行を削除する
  - この辺のメソッドを使用すると重複した行をカウントできる

In [55]:
!cut -f 1 popular-names.txt | sort | uniq | wc

    136     136     943

In [48]:


### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

Column_1_set = set(df.iloc[:,0])
len(Column_1_set)

136

### 18. 各行を3コラム目の数値の降順にソートPermalink
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [62]:
### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

df.sort_values(["Population"])

         Name Sex  Population  Year
9       Sarah   F        1288  1880
29      Alice   F        1308  1881
8      Bertha   F        1320  1880
28     Bertha   F        1324  1881
27      Annie   F        1326  1881
...       ...  ..         ...   ...
1351   Robert   M       91640  1947
1550  Michael   M       92704  1957
1350    James   M       94757  1947
1360    Linda   F       96211  1948
1340    Linda   F       99689  1947

[2780 rows x 4 columns]

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べるPermalink
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

- `uniq -c`でuniqの重複時に出現回数をカウントする
- `sort -n`でソート時に数字として認識する
  - コレをしないと辞書順で判定されるため [1743] が [94] より先に出てくることになる

#### Pandasを使用した解答
Pandasを利用するのであれば`pandas.Series.value_counts()`を使用することでユニークな要素のindexと個数を取得できる
- デフォルトでは出現回数が多いものから順にソートされる
  - 引数ascending=Trueとすると昇順にソートされ、引数sort=Falseとするとソートされない。

In [72]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -n -r | head -n 10

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret

In [75]:
### By Use Pandas
import pandas as pd
df = pd.read_table( \
          "popular-names.txt", \
          sep="\t", \
          header=None, \
          names=["Name", "Sex", "Population", "Year"] )

df["Name"].value_counts()

136

## 第3章: 正規表現


###

###

###

###

###

###

###

###

###

###

## 第4章: 形態素解析


###

###

###

###

###

###

###

###

###

###

## 第5章: 係り受け解析


###

###

###

###

###

###

###

###

###

###

## 第6章: 機械学習


###

###

###

###

###

###

###

###

###

###

## 第7章: 単語ベクトル


###

###

###

###

###

###

###

###

###

###

## 第8章: ニューラルネット


###

###

###

###

###

###

###

###

###

###

## 第9章: RNNとCNN


###

###

###

###

###

###

###

###

###

###

## 第10章: 機械翻訳


###

###

###

###

###

###

###

###

###

###